/* ================ VARIABLES ================ */
:root {
  --primary-font: 'Montserrat', sans-serif;
  --primary-text-color: #111111;
  --primary-text-color-alpha-70: #111111b3;
  --secondary-text-color: #ffffff;
  --secondary-text-color-alpha-70: #ffffffb3;
  --body-background-color: #fafafa;
  --primary-accent-color: #fd9222;
  --secondary-accent-color: #fcf1e0;
  --section-bg-color: #1e1823;
  --dark-bg-color: #1e1823;
  --primary-transition: 250ms linear;
}
/* ================ /VARIABLES ================ */

/* ================ COMMON STYLES ================ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
}

address {
  font-style: normal;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--body-background-color);
}

.container {
  max-width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.accent-color {
  color: var(--primary-accent-color);
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-paddings {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* ================ /COMMON STYLES ================ */

/* ================ HEADER STYLES ================ */
.page-header-container {
  display: flex;
  align-items: center;
  column-gap: 90px;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.site-logo {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

.site-logo-icon {
  margin-left: 4px;
}

.page-menu {
  display: flex;
  column-gap: 24px;
}

.page-menu-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  padding-top: 30px;
  padding-bottom: 30px;

  transition: color var(--primary-transition);
}

.page-menu-link:hover,
.page-menu-link:focus {
  color: var(--primary-accent-color);
}

.social-list {
  display: flex;
  column-gap: 18px;
}

.social-list-link {
  display: block;
  line-height: 0;
  stroke: #111111;
  fill: none;

  transition: stroke var(--primary-transition);
}

.social-list-link:hover,
.social-list-link:focus {
  stroke: var(--primary-accent-color);
}
/* ================ /HEADER STYLES ================ */

/* ================ HERO STYLES ================ */
.hero-section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-color: var(--section-bg-color);
  background-image: linear-gradient(#1e182366, #1e182366), url('../images/hero/bg.jpg');
  background-size: cover;
  color: var(--secondary-text-color);
  margin-bottom: 72px;
}

.hero-section-container {
  padding-top: 381px;
  padding-bottom: 40px;
  padding-left: 56px;
  padding-right: 56px;
}

.main-title {
  width: 484px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.hero-section-bottom-content {
  display: flex;
  align-items: center;
}

.buy-now-btn {
  min-width: 144px;
  padding: 14px 20px;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--primary-accent-color);
  color: var(--secondary-text-color);
  border: none;
  border-radius: 100px;
  margin-right: 14px;

  transition: background-color var(--primary-transition), color var(--primary-transition);
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: var(--secondary-accent-color);
  color: var(--primary-accent-color);
}

.how-made-link {
  display: inline-block;
  min-width: 183px;
  padding: 14px 20px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 100px;

  transition: color var(--primary-transition), border-color var(--primary-transition);
}

.how-made-link:hover,
.how-made-link:focus {
  color: var(--primary-accent-color);
  border-color: var(--primary-accent-color);
}

.scroll-down-link {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.03em;
  margin-left: auto;

  transition: color var(--primary-transition);
}

.scroll-down-link:hover,
.scroll-down-link:focus {
  color: var(--primary-accent-color);
}

.scroll-down-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: var(--primary-accent-color);

  transition: background-color var(--primary-transition), fill var(--primary-transition);
}

.scroll-down-link:hover .scroll-down-icon-wrapper,
.scroll-down-link:focus .scroll-down-icon-wrapper {
  background-color: var(--primary-accent-color);
  fill: #ffffff;
}
/* ================ /HERO STYLES ================ */

/* ================ BENEFITS STYLES ================ */
.benefits-section {
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--secondary-text-color);
  background-color: var(--section-bg-color);
  margin-bottom: 50px;
}

.benefits-list {
  display: flex;
  column-gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}

.benefits-list-item {
  position: relative;
  width: calc((100% - 2 * 88px) / 3);
}

.benefits-list-item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -18px;
  width: 1px;
  height: 124px;
  transform: translateY(-50%);
  background-color: #ffffff80;
  content: '';
}

.benefits-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: 1px solid #ffffff80;
  border-radius: 50%;
  margin-bottom: 22px;
}

.benefits-list-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}

.benefits-list-text {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--secondary-text-color-alpha-70);
}
/* ================ /BENEFITS STYLES ================ */

/* ================ INGREDIENTS STYLES ================ */
.ingredients-title {
  width: 411px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.ingredients-description {
  width: 486px;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--primary-text-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.ingredients-list-item {
  position: relative;
  width: calc((100% - 3 * 24px) / 4);
  padding: 28px 32px;
  border: 1px solid var(--primary-accent-color);
  border-radius: 15px;
  background-color: #ffffff;
  overflow: hidden;
}

.ingredients-list-item:nth-child(4n + 1) {
  background-color: var(--primary-accent-color);
  color: var(--secondary-text-color);
}

.ingredients-list-item:nth-child(4n + 3) {
  background-color: var(--dark-bg-color);
  border-color: var(--dark-bg-color);
  color: var(--secondary-text-color);
}

.ingredients-list-img {
  margin-bottom: 36px;
}

.ingredients-list-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.ingredient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--primary-text-color);
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  overflow: auto;
  transform: translateY(100%);

  transition: transform 250ms linear;
}

.ingredients-list-item:hover .ingredient-overlay {
  transform: translateY(0%);
}

.ingredient-overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.ingredient-overlay-categories {
  display: flex;
  margin-bottom: 14px;
  column-gap: 6px;
}

.ingredient-overlay-categories-item {
  font-size: 10px;
  line-height: 1.2;
  border: 1px solid var(--primary-accent-color);
  border-radius: 35px;
  padding: 5px 16px;
  background-color: #fafafa;
}

.ingredient-overlay-categories-item:first-child {
  background-color: var(--primary-accent-color);
  color: var(--secondary-text-color);
}

.ingredient-overlay-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* ================ /INGREDIENTS STYLES ================ */

/* ================ HOW MADE STYLES ================ */
.how-made-section-title {
  margin-bottom: 50px;
}

.how-made-content-wrapper {
  display: flex;
  column-gap: 20px;
}

.how-made-text-content {
  flex-grow: 1;
  padding: 32px;
  border-radius: 15px;
  background-color: #ffffff;
}

.how-made-list {
  padding-right: 26px;
}

.how-made-title {
  width: 350px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--primary-text-color);
  margin-bottom: 32px;
}

.how-made-list-item {
  position: relative;
  padding-left: 16px;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}

.how-made-list-item::before {
  position: absolute;
  top: 5px;
  left: 0;
  width: 8px;
  height: 8px;
  border: 1px solid #eceded;
  border-radius: 50%;
  background-color: #4c4c4c;
  content: '';
}

.how-made-list-item:not(:last-child) {
  margin-bottom: 24px;
}
/* ================ /HOW MADE STYLES ================ */

/* ================ REVIEWS STYLES ================ */
.reviews-section {
  padding-top: 50px;
  padding-bottom: 100px;
}

.reviews-title {
  margin-bottom: 90px;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  margin-bottom: 50px;
}

.reviews-list-item {
  position: relative;
  width: calc((100% - 2 * 28px) / 3);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  padding: 56px 24px 24px 24px;
}

.reviews-list-avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews-list-fullname {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 24px;
}

.reviews-list-text {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--primary-text-color-alpha-70);
}

.leave-review-btn {
  display: block;
  min-width: 222px;
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-text-color);
  background-color: transparent;
  border: 1px solid var(--primary-accent-color);
  border-radius: 100px;
  padding: 14px 40px;
  margin-left: auto;
  margin-right: auto;

  transition: color var(--primary-transition), background-color var(--primary-transition);
}

.leave-review-btn:hover,
.leave-review-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--primary-accent-color);
}
/* ================ /REVIEWS STYLES ================ */

/* ================ FOOTER STYLES ================ */
.page-footer {
  background-color: var(--section-bg-color);
  color: var(--secondary-text-color);
}

.page-footer-top-block {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-footer-title {
  width: 300px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.contact-slogan {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 14px;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 4px;
}

.contact-list-link {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;

  transition: color var(--primary-transition);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--primary-accent-color);
}

.page-footer-bottom-block {
  padding-top: 24px;
  padding-bottom: 86px;
}

.page-footer-bottom-block .menu-link {
  color: var(--secondary-text-color);
}
/* ================ /FOOTER STYLES ================ */

/* ================ MODAL WINDOW STYLES ================ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: #11111180;

  opacity: 0;
  pointer-events: none;
  transition: opacity var(--primary-transition);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 517px;
  background-color: #fafafa;
  border-radius: 15px;
  padding: 40px;
}

.close-modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  stroke: #111111;
  line-height: 0;
  transition: stroke var(--primary-transition);
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  stroke: var(--primary-accent-color);
}

.review-slogan {
  width: 300px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 40px;
}

.review-form-field-wrapper {
  margin-bottom: 18px;
}

.review-form-field-label {
  display: block;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #4040404d;
  margin-bottom: 8px;
}

.review-form-input {
  width: 100%;
  height: 68px;
  border: 1px solid #1111110d;
  border-radius: 13px;
  background-color: transparent;
  padding-left: 62px;
  transition: border-color var(--primary-transition);
  outline: transparent;
}

.review-form-input:focus {
  border-color: var(--primary-accent-color);
}

.review-form-field-content-wrapper {
  position: relative;
}

.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  fill: none;
  stroke: #404040;
  transition: stroke var(--primary-transition);
}

.review-form-input:focus + .review-form-field-icon {
  stroke: var(--primary-accent-color);
}

.review-form-message {
  width: 100%;
  height: 137px;
  border: 1px solid #1111110d;
  border-radius: 13px;
  background-color: transparent;
  resize: none;
  padding: 22px 24px;
  outline: transparent;
  transition: border-color var(--primary-transition);
}

.review-form-message:focus {
  border-color: var(--primary-accent-color);
}

.review-form-message::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #4040404d;
}

.review-form-checkbox-wrapper {
  margin-bottom: 40px;
}

.review-form-checkbox-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #40404099;
}

.review-form-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  border-radius: 6px;
  cursor: pointer;
  fill: transparent;
  margin-right: 12px;
}

.review-form-policy-checkbox:checked + .review-form-checkbox-label .review-form-custom-checkbox {
  background-color: var(--primary-accent-color);
  border-color: var(--primary-accent-color);
  fill: #ffffff;
}

.review-form-policy-checkbox:focus + .review-form-checkbox-label .review-form-custom-checkbox {
  outline: 2px solid #0000ff80;
}

.privacy-policy-link {
  color: var(--primary-accent-color);
  text-decoration: underline;
}

.review-form-submit-btn {
  min-width: 117px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 100px;
  padding: 14px 16px;
  background-color: var(--primary-accent-color);
  color: var(--secondary-text-color);
  transition: background-color var(--primary-transition), color var(--primary-transition);
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background-color: var(--secondary-accent-color);
  color: var(--primary-accent-color);
}
/* ================ /MODAL WINDOW STYLES ================ */
